{% extends "stripe_app/layout.html" %}

{% block body %}
    <div class="container" style="display: flex; justify-content: center; align-items: center; flex-direction: column">
        <h1>Заказ номер - {{ order.id }}</h1>
        <p>Цена: {{ order.total_cost }} руб.</p>
        <button id="buy-button" data-stripe-key="{{ stripe_public_key }}" data-item-id="{{ order.id }}" data-csrf-token="{{ csrf_token }}"
        class="buy-orders">
            Оплатить
        </button>
    </div>

{% endblock %}